<div class="main">
    <div class="toolbar">
        <span>
            <h1>Welcome to <font color={{mycolor}}>{{projectTitle}}</font>
                <!--property binding [color]="mycolor" -->
            </h1>
        </span>
    </div>
</div>
<!--propert binding use all data type <button [disabled]="status">Click Me</button> -->
<!--interpolation binding use string only <button disabled={{status}}>Click Me</button> -->
<!--<button>(click)="showClick Me</button>-->

<!-- <button (click)="showData($event)">Click Me</button> -->
<!--interpolation-->
<!-- <button (click)="showData('sampleText')">Click Me</button>
<h2>{{message}}</h2> -->

<button (click)="showData('sampleText')">Click Me</button>


<!-- <div [class]="classTomato">
    <h2>{{message}}</h2>
</div> -->

<!-- <div [class.messageClass1]="checkStatus">
    <h2>{{message}}</h2>
</div> -->

<div [class]="checkStatus?'messageClass1':'messageClass2'">
    <h2>{{message}}</h2>
</div>

<div [style.color]="'blue'">This is style!!</div>


<input id="bookName" type="text" value="Learn Angualr">
<table>
    <thead>
        <tr>

            <th [attr.colspan]="ColumnSpan">
                <!-- attribute binding-->
                <!-- <th colspan="2"> work-->
                <!-- <th [colspan]="ColumnSpan"> not work-->
                {{pageHeader}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{FirstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{LastName}}</td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>{{Branch}}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>{{Mobile}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{Gender}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{Age}}</td>
        </tr>
    </tbody>
</table>

<app-book-details (eventEmitter)="message=$event" [bookData]="bookName"></app-book-details>
<h2>{{message}}</h2>
<input [(ngModel)]="name" type="text"> {{name}}

<div>
    <h4>=============================================================================</h4>
    <div class="toolbar">
        <h2>
            <font color={{mycolor}}>{{projectSearch}}</font>
        </h2>
    </div>
    <input [(ngModel)]="bname" type="text">
    <div [class]="checkStatus?'messageClass1':'messageClass2'">
        <h4>
            {{msg}}
        </h4>
    </div>

    <h2>
        <font color={{mycolor2}}>=============================</font>
    </h2>
    <!-- <h4>Selected Book: {{bname}}</h4> -->

    <app-book-search [searchBook]="bname" (eventEmitter2)="msg=$event">

    </app-book-search>

</div>


<div>
    <h2>
        <font color={{mycolor2}}>=====================Pipes=======================</font>
    </h2>
    <div>
        <h3>
            <font color={{mycolor2}}>********String & number********</font>
        </h3>
        <div>Original : {{name}}</div>
        Property transformed by pipe

        <div>{{name | uppercase}}</div>
        <div>{{name | lowercase}}</div>
        <div>{{name | slice:2:6}}</div>
        <div>Original price :{{price}} </div>
        <div>{{price | currency}}</div>
        <div>{{price | currency:'INR'}} </div>
    </div>
    <div>
        <h3>
            <font color={{mycolor2}}>********Date & Time********</font>
        </h3>
        <p>Today is {{today | date}}</p>
        <p>Or if you prefer, {{today | date: 'fullDate'}}</p>
        <p>The time is {{today | date: 'h:mm a z'}}</p>
    </div>
    <div>
        <h3>
            <font color={{mycolor2}}>********Custom Pipes********</font>
        </h3>
        {{data|convertlog}}
    </div>
</div>

<!--<div>
    <h2>
        <font color={{mycolor2}}>====================Book Process Service=========================</font>
    </h2>
    <div>{{bookname}}</div>
</div>-->

<!-- <div>
    <h2>
        <font color={{mycolor2}}>====================Book Detail Service=========================</font>
    </h2>
    <p>List of available books:</p>
    <div *ngFor="let book of bookDetail">
        <li>{{book.BookName}}, {{book.BookAuthor}}</li>
    </div>
</div> -->

<div>
    <h2>
        <font color={{mycolor2}}>====================Book Detail Service subscribe=========================</font>
    </h2>
    <p>List of available books:</p>
    <div *ngFor="let book of bookInfo">
        <li>{{book.bookName}}, {{book.bookAuthor}}</li>
    </div>
</div>